@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.draggable-post {
  animation: slideIn 0.5s ease-out;
  transition: 1s;
}
