/*  2 */
:root {
  --primary-color: #272727;
  --border-color: #272727;
  --background-color: rgb(255, 254, 246);
  --window-shadow-color: #272727;
  --window-background-color: white;
}

.minesweeper-window-card {
  --window-background-color: white;
}

.minesweeper-window-card .window-header {
  --window-background-color: salmon;
}

.map-window-card {
  --window-background-color: #272727;
}

.map-window-card .window-header {
  --window-background-color: salmon;
}

.photo-finder-window-card {
  /* --window-background-color: #272727; */
}

.photo-finder-window-card .window-header {
  --window-background-color: salmon;
}
