/* 1 */

:root {
  --primary-color: #272727;
  --background-color: white;
  --window-shadow-color: #272727;
  --window-background-color: white;
}

.minesweeper-window-card {
  --window-background-color: white;
}

.minesweeper-window-card .window-header {
  --window-background-color: white;
}

.map-window-card {
  --window-background-color: #272727;
}

.map-window-card .window-header {
  --window-background-color: salmon;
}

.photo-finder-window-card {
  /* --window-background-color: #272727; */
}

.photo-finder-window-card .window-header {
  --window-background-color: salmon;
}

/*  2 */
:root {
  --primary-color: #272727;
  --background-color: #b8ddd8;
  --window-shadow-color: #272727;
  --window-background-color: rgb(255, 254, 246);
}

/* 3 */
:root {
  --primary-color: #ed2c2f;
  --background-color: #ddf9fd;
  --window-shadow-color: #ed2c2f;
  --window-background-color: #fdfcff;
}
