/*  2 */
:root {
  --primary-color: salmon;
  --border-color: #1e1d1d;
  --background-color: rgb(255, 254, 246);
  --window-shadow-color: #1e1d1d;
  --window-background-color: white;
}

.minesweeper-window-card {
  --window-background-color: white;
}

.window-header {
  --window-background-color: salmon;
}

.minesweeper-window-card .window-header {
  --window-background-color: salmon;
}

.map-window-card .window-header {
  --window-background-color: salmon;
}

.photo-finder-window-card .window-header {
  --window-background-color: salmon;
}

.map-photo-display {
  --window-background-color: ;
}
