.cell {
  transition: all 0.2s cubic-bezier(0.5, 1, 0.2, 1);
}

.cell:active {
  box-shadow: none;
}

.box-shadow-none {
  transition: all 0.2s cubic-bezier(0.5, 1, 0.2, 1);
}
.box-shadow-none:active {
  box-shadow: none;
}
