.window {
  border: 2px solid #3d04fc;
  box-shadow:
    #3d04fc 5.8px 5.8px 0px 0px,
    #fce2f0dd -1.2px -1.2px 0px 0px;
  background: white;
  /* box-shadow: rgb(13, 19, 19) 4.8px 4.8px 0px 0px; */
  position: absolute;
  /* background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.119) 1px,
    transparent 1px
  );
  background-size: 20px 20px; */
}

.shadow-bl {
  box-shadow: #3d04fc 5.8px 5.8px 0px 0px;
}
