.window {
  border: 2px solid var(--primary-color);
  box-shadow:
    var(--window-shadow-color) 5.8px 5.8px 0px 0px,
    var(--background-color) -1.2px -1.2px 0px 0px;
  background: var(--window-background-color);
  position: absolute;

  transform: scale(0.2);
  transition: all 0.4s cubic-bezier(0.5, 1, 0.2, 1);
  /* transition:
    transform 0.3s cubic-bezier(0.5, 1, 0.2, 1.13),
    top 0.3s cubic-bezier(0.5, 1, 0.2, 1.13),
    opacity 0.3s cubic-bezier(0.5, 1, 0.2, 1.13); */
  opacity: 0;
}

.shadow-bl {
  box-shadow: var(--primary-color) 5.8px 5.8px 0px 0px;
}

.shadow-sm {
  box-shadow: var(--primary-color) 1.3px 1.3px 0px 0px;
}

.window-expand {
  transform: scale(1);
  opacity: 1;
}

.window-minimized {
  transform: scale(0) !important;
  opacity: 0.4;
}

.window-transition-off {
  transition: none !important;
}
