.window {
  border: 2px solid #3d04fc;
  box-shadow:
    #3d04fc 5.8px 5.8px 0px 0px,
    #fce2f0dd -1.2px -1.2px 0px 0px;
  background: white;
  position: absolute;

  transform: scale(0.2);
  transition: all 0.3s cubic-bezier(0.5, 1, 0.2, 1);
  /* transition:
    transform 0.3s cubic-bezier(0.5, 1, 0.2, 1.13),
    top 0.3s cubic-bezier(0.5, 1, 0.2, 1.13),
    opacity 0.3s cubic-bezier(0.5, 1, 0.2, 1.13); */
  opacity: 0;
}

.shadow-bl {
  box-shadow: #3d04fc 5.8px 5.8px 0px 0px;
}

.shadow-sm {
  box-shadow: #3d04fc 1 1 0px 0px;
}

.window-expand {
  transform: scale(1);
  opacity: 1;
}

.window-minimized {
  transform: scale(0) !important;
}

.window-transition-off {
  transition: none !important;
}
